.player-container {
  display: flex;
}
.navbar-content {
  flex-grow: 1;
  padding: 0 60px;
}
.player-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.player-grid {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
