.single-player {
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.player-picture {
  margin: 10px;
  max-width: 130px;
  display: block;
  border: 1px solid #1f9751;
  border-radius: 6px;
  background-color: #fff;
}
.player-star {
  max-width: 20px;
}
