.single-player {
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 2px 2px 2px var(--highlight-color);
  background-color: #fff;
}
.player-picture {
  max-width: 130px;
  border: 1px solid var(--highlight-color);
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 1px var(--primary-color);
}
.player-star {
  max-width: 20px;
}
