.create-container {
  display: flex;
}
.navbar-content {
  flex-grow: 1;
  padding: 0 60px;
}
.create-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.create-title {
  padding-bottom: 20px;
  letter-spacing: 0.05em;
  color: #777;
}
.create-header {
  padding-bottom: 20px;
}
.create-paragraph {
  padding-bottom: 20px;
  text-align: center;
}
.create-form span {
  color: #777;
  padding-right: 10px;
}
.create-form input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}
.create-form input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 10px var(--highlight-color);
}
.field-content {
  padding-top: 30px;
}
.field-content select {
  border-radius: 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.field-content select:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.player-gk {
  position: relative;
  top: -50px;
  left: 165px;
}
.player-rb {
  position: relative;
  top: -210px;
  left: 30px;
}
.player-lcb {
  position: relative;
  top: -175px;
  left: 100px;
}
.player-rcb {
  position: relative;
  top: -196.5px;
  left: 240px;
}
.player-lb {
  position: relative;
  top: -275px;
  left: 280px;
}
.player-lcm {
  position: relative;
  top: -415px;
  left: 70px;
}
.player-rcm {
  position: relative;
  top: -437px;
  left: 250px;
}
.player-cam {
  position: relative;
  top: -550px;
  left: 165px;
}
.player-lw {
  position: relative;
  top: -640px;
  left: 30px;
}
.player-rw {
  position: relative;
  top: -662px;
  left: 280px;
}
.player-st {
  position: relative;
  top: -760px;
  left: 170px;
}
.create-btn {
  position: relative;
  top: -210px;
  left: 120px;
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 1em;
  cursor: pointer;
  border: 1px solid var(--primary-color);
}
.create-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

option {
  border-radius: 4px;
}
